mixin button(clss, text)
    div(class=clss + '-button-box')
        a(class=clss + '-button-link' href="#works-scroll")
            button(class=clss + '-button')=text
            +icon('underline', clss + '-button-box-bg')