.swiper-container.header-slider
    .swiper-wrapper
        +header-slider-item([{
            title: 'TACOS CARDIGAN TRUFFAUT QUANTED!',
            sliderImg: 'glasses' 
        },
        {
            title: 'TACOS CARDIGAN TRUFFAUT QUANTED!',
            sliderImg: 'glasses' 
        },
        {
            title: 'TACOS CARDIGAN TRUFFAUT QUANTED!',
            sliderImg: 'glasses' 
        }

        ])
      
    .header-slider-pagination