+nav([{
    name: 'HOME',
    link: '/'
},
{
    name: 'WHAT I DO',
    link: '/'
},
{
    name: 'MY WORKS',
    link: '/'
},
{
    name: 'ABOUT',
    link: '/'
},
{
    name: 'CONTACT',
    link: '/'
}
], 'header')