+navbar([{
    name: 'WHAT I DO',
    link: '#what-scroll'
},
{
    name: 'MY WORKS',
    link: '#works-scroll'
},
{
    name: 'ABOUT',
    link: '#about-scroll',
},
{
    name: 'CONTACT',
    link: '#contact-scroll'
}

], 'site-header')