.site-header-navbar
    @extend %navbar
    margin-top: 50px

    &-item
        @extend %navbar-item

        &:hover
            background: $header-navbar-item-hv-bg
            color: $header-navbar-text-hv-clr
    
    &-mob
        @extend %navbar-mob
        
    &-icon
        @extend %navbar-icon
    

    
//RESPOND-TO

//small
@include respond-to($small)
    .site-header-navbar-item
        background: $header-navbar-item-smll-bg
        color: $header-navbar-text-smll-clr
    