.contact-title
    font-size: $section-title-sz

    &-box
        @extend %offset-4
        height: 100px
        text-align: center
    
    &-icon
        height: 10%
    
    
    
//RESPOND-TO


//medium
@include respond-to($medium)
    .contact-title-box
        @include mq-offset(0)
        width: 100%
        text-align: center