+works-item([{
        link: 'img/works/work-book.png'
    },
    {
        link: 'img/works/work-alco.png'
    },
    {
        link: 'img/works/work-visit.png'
    },
    {
        link: 'img/works/work-mock-up.png'
    }
    
    ])