section.works
    header.works-header
        +icon('scroll-mouse', 'works-scroll')
        .works-title-box
            h2.works-title='MY WORKS'
            +icon('underline', 'works-title-icon')
        
    include _works-item