+works-item([{
        link: 'i/images/work/work-book.png',
        clssHid: ' '
    },
    {
        link: 'i/images/work/work-alco.png',
        clssHid: ' '
    },
    {
        link: 'i/images/work/work-visit.png',
        clssHid: ' '
    },
    {
        link: 'i/images/work/work-mock-up.png',
        clssHid: ' '
    },
    {
        link: 'i/images/work/work-book.png',
        clssHid: 'works-item-hidden'
    },
    {
        link: 'i/images/work/work-alco.png',
        clssHid: 'works-item-hidden'
    },
    {
        link: 'i/images/work/work-visit.png',
        clssHid: 'works-item-hidden'
    },
    {
        link: 'i/images/work/work-mock-up.png',
        clssHid: 'works-item-hidden'
    }
    
    ])