.contact-info
    +social([{
        iconName: 'fb'
    },
    {
        iconName: 'twitter'
    },
    {
        iconName: 'google'
    },
    {
        iconName: 'social-p'
    },
    {
        iconName: 'instagramm'
    }
            
    ], 'contact')
    
    .contact-info-item.contact-info-item-address
        h3.contact-info-item-title="ADDRESS"
        p.contact-info-item-text.
            9114 Bridge Street , 
            Hillsboro, OR 97124
            
    .contact-info-item
        h3.contact-info-item-title="PHONE"
        a.contact-info-item-text(href="#").
            +48 202 - 555 - 0114
            
    .contact-info-item
        h3.contact-info-item-title="EMAIL"
        p.contact-info-item-text.
            contact@yoursite.co