//------------------COLOR-------------------

//HEADER
$header-bg: #ffd500

//header-nav
$header-navbar-item-hv-bg:     black
$header-navbar-item-smll-bg:   black
$header-navbar-text-clr:       black
$header-navbar-text-hv-clr:    #fad000
$header-navbar-text-smll-clr:  #fad000

//header-button
$header-button-bg:     #fad663
$header-button-border: black
$header-button-hv-bg:  white

//haeder-slider
$swiper-dots-border-clr: #fef5e4


//WHAT
$what-bg: white


//WORKS
$works-bg:                 white
$works-button-bg:          white
$works-button-border:      black
$works-button-hv-bg:       #fad663
$works-button-close-bg:    #fad663
$works-button-close-hv-bg: white


//ABOUT
$about-bg: white


//CONTACT
$contact-bg:                         #d2eae3
$contact-form-input-bg:              #fad663
$contact-form-input-border:          black
$contact-form-focus-bg:              white
$contact-form-button-border-clr:     black
$contact-form-button-bg:             #fad000
$contact-form-button-hv-bg:          white
$social-contact-icon-hv-bg:          #fad000


//FOOTER
$footer-bg:                   #d2eae3
$footer-navbar-item-hv-bg:    black
$footer-navbar-text-hv-clr:   #d2eae3
$footer-navbar-item-smll-bg:  black
$footer-navbar-text-smll-clr: #d2eae3






//------------------FONTS--------------------

//FONT-FAMILY
$general-font: 'Boogaloo', cursive


//FONT-SIZE

//COMMON
$section-title-sz: 3em

//HEADER
$header-slider-title-sz: 3em

//ABOUT
$about-item-percent: 2em
