//------------------COLOR-------------------

//HEADER
$header-bg: #ffd500

//header-nav
$header-navbar-item-hv-bg:     black
$header-navbar-item-smll-bg:   black
$header-navbar-text-clr:       black
$header-navbar-text-hv-clr:    #fad000
$header-navbar-text-smll-clr:  #fad000

//header-button
$header-button-bg:     #fad663
$header-button-border: black

//haeder-slider
$swiper-dots-border-clr: #fef5e4


//WHAT
$what-bg: white


//WORK
$works-bg:       white
$work-button-bg: white


//CONTACT
$contact-bg:          #d2eae3
$contact-form-border: black
$contact-form-bg:     #fad663


//FOOTER
$footer-nav-item-bg:  black
$footer-nav-text-clr: #fad663






//------------------FONTS--------------------

//FONT-FAMILY
$general-font: 'Boogaloo', cursive


//FONT-SIZE

//HEADER
$header-slider-title-sz: 3em

//WHAT
$what-title-sz: 3em

//WORKS
$works-title-sz: 3em
