mixin about-item(items)
    each item, i in items
        .about-item
            +icon(item.iconName, 'about-item-icon')
            h3.about-item-percent=item.percent
            h3.about-item-title=item.title
            p.about-item-text.
                Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.