extends ../layouts/_default

block vars
    -  
        var lang =     'ru',
            title =    'Pink Donut',
            style =    'css/index.css'
            bodyName = 'index'
            
block append link
    // build:css css/index.css 
    link(rel="stylesheet" href=style)
    // endbuild 
    
block header
    include ../partials/_header
    
block main
     include ../blocks/what/what-main
     include ../blocks/works/works-main
     include ../blocks/about/about-main
     include ../blocks/contact/contact-main
     
  
block footer
    include ../partials/_footer
    
block append script
    // endbuild
    