block script
            // build:js js/vendor.js 
            // bower:js 
            // endbower 
            // build:js js/index.js 
            script(src='js/common/navbar.js')
            script(src='js/common/scrollTo.js')
            script(src='js/common/slider.js' async)
            script(src='js/common/sprite.js' async)
            script(src='js/works/works-item-visible.js')
            
            