+about-item([{
            iconName: 'about-photoshop',
            percent: '75%',
            title: 'PHOTOSHOP'
        },
        {
            iconName: 'about-illustrator',
            percent: '65%',
            title: 'ILLUSTRATOR'
        },
        {
            iconName: 'about-kniting',
            percent: '25%',
            title: 'KNITTING'
        }
        
        ])